

 .card{
  position:relative;
  left: 25%;
  width: 50%;
  height: 25%;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
  overflow: hidden;
  display: center;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
  
}

 .card .content{
  padding: 20px;
  text-align: center;
  transform: translateY(25px);
  transition: 0.5s;
}

 .card:hover .content{
  transform: translateY(0px);
}

 .card .content h2{
  position: absolute;
  top: -60px;
  right: 20px;
  font-size: 6em;
  color: rgba(255,255,255,0.05);
  pointer-events: none;
}

 .card .content h3{
  font-size: 1.8em;
  color: rgba(255, 255, 255, 0.705);
  z-index: 1;
}

 .card .content p{
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}

 .card .content a{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: rgba(255, 255, 255, 0.301);
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(10, 10, 10, 0.486);
}