
#clock {
    margin-top: 8%;
    height:240px;
    font-size: 10rem;
    font-family: arial;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(6, 240, 6, 0);
}

h2 {
	text-align:center;
    text-shadow: 2px 2px rgba(236, 240, 236, 0.336);
}



.bigger {
    font-weight:bold;
    font-size: 18px;
}

@media only screen and (max-width: 500px){

#clock {
    margin-top: 26%;
    height:10px;
    font-size: 60px;
        font-family: arial;
    font-weight: normal ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(6, 240, 6, 0);
}

}
