#outer-orbit{
    width: 194px;
  height: 113px;
}

#IssPosition1, #IssPosition2{
 
  position: relative;
  margin-top: 0 0;
  padding-top: 0 0;
    top: -105%;
    left: 2%;
    font-size: 0.8rem;
    text-shadow: 1px 1px #0116125d;
    transform: rotate(180deg);
    background-color: #01161221;
    line-height: 0.01rem;
    }

#Iss-box {
  display: block;
   position: absolute;
    top: 235%;
    left: 9%;
   
  border-radius: 50%;
    z-index: 3;
  
  animation: orbit2 95s linear infinite;
}


@keyframes orbit2 {
  0% {
      transform: rotateZ(160deg) translatey(1390px); }
  
    100% {
      transform: rotateZ(240deg) translatey(2290px); } }


 