

#outer-orbit {
   position: absolute;
    top: 235%;
    left: 9%;
    width: 194px;
  height: 194px;
  border-radius: 50%;
    z-index: 8;
  
  animation: orbit2 105s linear infinite;
}


@keyframes orbit2 {
  0% {
      transform: rotateZ(160deg) translatey(1390px); }
  
    100% {
      transform: rotateZ(240deg) translatey(2290px); } }


 