@import url(https://fonts.googleapis.com/css?family=Anton);


#clock2 {
  position: absolute;
  top: 75%;
  left: 5%;
  padding: 20px;
  padding-top: 20px;
  max-width: 300px; 
  font-size: 60px;
  z-index: 19;
  font-family: 'Anton', sans-serif;
}

#clock2:hover {
  cursor: pointer;
}

#clock2.inactive {
  color: #63721e81;  
}

.session-time {
  color: #104d41c5;
}

/* .restartbuttons{
  position: absolute;
  top:59%;
} */




