#spaceShip {
    position: absolute;
    margin-top: -35%;
    
    z-index: 4;
        animation: animateShip 60s linear infinite;
}
#spaceShip5 {
    position: absolute;
    z-index: 3;
    margin-top: -20%;
    margin-right: -45%;
    
    
    animation: orbit 60s linear infinite;
}


@keyframes animateShip {
    0% { 
        margin-top: 12%;       
        margin-left: -65%;
        transform: rotateX(90deg);
        transform: rotateY(85deg);
    }
    25% {   
        margin-top: -10.5%;     
        margin-left: -38%;
        transform: rotateX(30deg);
        transform: rotateY(25deg);
    }
    50% {margin-top: -33.5%; 
         margin-left: -21%;
         transform: rotateX(0deg);
        transform: rotateY(0deg);
    }
    66% {
        margin-top: -28.5%;     
        margin-left: -4%;
         transform: rotateX(3deg);
        transform: rotateY(3deg);
    }
    75% {
        margin-top: -24.5%;     
        margin-left: 13%;
         transform: rotateX(20deg);
        transform: rotateY(25deg);
    }
    90% { 
        margin-top: -21.5%;        
        margin-left: 30%;
         transform: rotateX(35deg);
        transform: rotateY(30deg);
    }

        100% { 
        margin-top: -18.5%;        
        margin-left: 45%;
         transform: rotateX(70deg);
        transform: rotateY(60deg);
    }
}
 .orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    border-radius: 50%;
    transform-style: preserve-3d;
    animation-name: orbit;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }

.orbit .orbit {
    animation-name: suborbit; }

.spaceShip6 {
    position: fixed;
    z-index: 100;
    top: 75%;
    right: 8%;
    width: 3%;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0);
	transform: translatey(0px);
	animation: float 1s ease-in-out infinite;
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0);
		transform: translatey(-4px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0);
		transform: translatey(0px);
	}
}

@keyframes orbit {
    0% {
      transform: rotateZ(0deg); }
  
    100% {
      transform: rotateZ(-360deg); } }

@keyframes suborbit {
    0% {
      transform: rotateX(90deg) rotateZ(0deg); }
  
    100% {
      transform: rotateX(90deg) rotateZ(-360deg); } }  


@media only screen and (max-width: 1024px){
     #spaceShip {
    position: absolute;
    margin-top: -73.5%;
    
    z-index: 4;
        animation: animateShip1024 60s linear infinite;
}
@keyframes animateShip1024 {
    0% { 
        margin-top: -63.5.5%;       
        margin-left: -65%;
        transform: rotateX(90deg);
        transform: rotateY(85deg);
    }
    25% {   
        margin-top: -69.5%;     
        margin-left: -38%;
        transform: rotateX(30deg);
        transform: rotateY(25deg);
    }
    50% {margin-top: -75.5%; 
         margin-left: -21%;
         transform: rotateX(0deg);
        transform: rotateY(0deg);
    }
    66% {
        margin-top: -72.5%;     
        margin-left: -4%;
         transform: rotateX(3deg);
        transform: rotateY(3deg);
    }
    75% {
        margin-top: -69.5%;     
        margin-left: 13%;
         transform: rotateX(20deg);
        transform: rotateY(25deg);
    }
    90% { 
        margin-top: -65.5%;        
        margin-left: 30%;
         transform: rotateX(35deg);
        transform: rotateY(30deg);
    }

        100% { 
        margin-top: -63.5%;        
        margin-left: 45%;
         transform: rotateX(70deg);
        transform: rotateY(60deg);
    }
}
}