*,
*:after,
*:before {
    box-sizing: border-canvas;
}


#mycanvas {
    position:absolute;
    top: 106%;
    left: 0;
    z-index: 9;
    /* background-color:aquamarine(48, 145, 129); */
}
@media only screen and (max-width: 1024px){
#mycanvas {
    position:absolute;
    top: 108%;
    left: 0;
    z-index: 9;
   
}
}
