body {
text-align: center;
color: whitesmoke;
margin: 0 ;
font-family:"Mrs Saint Delafield" "Italianno" "Parisienne" sans-serif serif;
}
.navbar {
  position: fixed;
  top: 0;
  }
/* .heading {
  font-size: 100px;
  font-weight: bold;
  border-bottom: 5px solid black;
} */
h1{color: rgba(255, 252, 252, 0.527);}
h2 {
display: block;
padding-top: 0;
padding-bottom: 30px;
border-top: none;
color: rgba(199, 195, 195, 0.123);
font-family: Parisienne;
font-size: 1.5em;
font-style: italic;
}

#bkpic{
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

#slideshow img {
display: block;
margin: 10px auto 0 auto;
padding: 4% 3% 2%;
width: 86%;
/* height: 260px;  */

}
.wrapperA {
  position: relative;
  bottom: 12%;
  z-index: 1;
  display:block;
  margin: 0 auto 5px auto;
}
#page1{
  height: 100vh;
}


#buttonA:hover,  #buttonA:focus{
  background-color: aquamarine;}
#buttonA:active {
 color: red;
 }
#buttonB:hover,  #buttonB:focus{
background-color: rgb(211, 195, 48);}

#buttonB:active {
color: rgb(9, 255, 0);
  }

#buttonC:hover,  #buttonC:focus{
background-color: rgb(64, 48, 211);}
#buttonC:active {
   color: purple;
     }

#buttonD:hover,  #buttonD:focus{
background-color: rgb(224, 48, 195);}
#buttonD:active {
   color: black;
    }


#buttonF:hover,  #buttonF:focus {
background-color: rgb(15, 73, 29);
}
#buttonF:active {
   color: rgb(4, 107, 155);
   } 

.btn:hover {transform: scale(1.5);}

.navbar-brand:hover,.nav-item:hover {transform: scale(1.8);}

.btn .btn-outline-light{
  
                   color:whitesmoke;        
                   text-decoration: none; }
                   
a{color:#feffde;
text-shadow: 2px 2px #206a5d;  }


#bkpic2{
  
  width: 100vw; 
  padding-top: 3%;
  padding-bottom: 5%;
}

.p3{
  /* margin-top: 6%; */
  font-size: 1.3em;
  font-family: Mrs Saint Delafield}

.p4{
    font-size: 1.3em;
    font-family: Mrs Saint Delafield}

h3{font-size:0.7em;
font-family: Mrs+Saint+Delafield}

h4{font-size:0.6em;
font-family: Parisienne}

h5{
  text-align: center;
}

p:hover {transform: scale(1.5);}

.wrapper1, .wrapper2{
/* border:3px groove #B0C4DE; */
background: #d6d6da1f;

text-align: center;
line-height:68px;
width: 80%;
margin: 50px auto 80px auto;
padding:25px; }

#video{
  position:relative;
  margin-bottom: 12vw;
}


@media only screen and (min-width: 768px){
header.masthead .page-heading, 
header.masthead .post-heading, 
header.masthead .site-heading {
    padding: 200px 0;
}
}