.newsContent{
  /* margin-top: 6%; */
  height: 65%;
  overflow-y: auto;
  font-size: 1.1rem;
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgba(246, 246, 250, 0.418);
  text-shadow:2px 2px rgb(11, 18, 19);
  position: relative;
  z-index: 99;
  top: 0%;
  }
#newstitle1,#newstitle2,#newstitle3{
    margin-bottom: 2%;
}
#joketitle{
    color: #55bdaa;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.568);
    position: relative;
    top:3%;
}
/* .newsContent:hover {transform: scale(1.5);} 
this layer is too low*/

.wrapperText {
/* border:3px groove #B0C4DE; */
background: #202030a4;
text-align: center;
line-height:48px;
width:70%;
height: 55%;
/* overflow: y; */
margin: 28px auto 28px auto;
padding:25px; 
margin-bottom: 2px;
border-radius: 12px;
}
.wrapperText2 {
    /* border:3px groove #B0C4DE; */
    background: #202030a4;
    text-align: center;
    line-height:48px;
    width:70%;
    height: 25%;
    /* overflow: y; */
    margin: 28px auto 28px auto;
    padding:25px; 
    margin-bottom: 2px;
    border-radius: 12px;
    }


#topnews{
    color: #1d695b;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.568)
}