.newsContent{
  /* margin-top: 6%; */
  font-size: 1.1rem;
  font-family: "Lucida Console", "Courier New", monospace;
    color: rgba(246, 246, 250, 0.418);
    text-shadow:2px 2px rgb(11, 18, 19);
    position: relative;
    top:-95%;}
#newstitle1,#newstitle2,#newstitle3{
    margin-bottom: -3%;
}

/* .newsContent:hover {transform: scale(1.5);} 
this layer is too low*/

.wrapperText {
/* border:3px groove #B0C4DE; */
background: #202030a4;
text-align: center;
line-height:48px;
width: 65%;
margin: 28px auto 28px auto;
padding:25px; 
margin-bottom: -2px;}


#topnews{
    color: #1d695b;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.568)
}