#location{
    position: relative;
    left: -35%;
    top:5%;
    color:aqua;
    /* text-align:left;  */
}

.localWeather{
    font-size: 2rem;
    font-weight: 600;
    color: rgba(236, 230, 230, 0.801);
    text-shadow:3px 3px#044d3f;
}
.cityWeather{
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(236, 230, 230, 0.801);
    text-shadow:2px 2px#044d3f;
}

.weather-box{
    position: relative;
    top: -5%;
    z-index: 13;
}
.weather-box2{
    position: relative;
    top: -13%;
    right:80%;
    z-index: 13;   
}
.weather-box3{
    position: relative;
    top: -26%;
    left:80%;
    z-index: 13;
}  
#NYsymbol{
    position: relative;
    left:-5%;
    top: 38px;
}
#SHsymbol{
    position: relative;
    left:-5%;
    top: 35px;
}
#openweathermap-widget-1{
position: relative;
margin-top:5%;
z-index:0;
display: block;
margin-left: auto;
margin-right: auto;
width: 34%;
}

#weatherIcon{
    padding:-10%;
    margin: 0%;
    background-color: rgba(245, 245, 245, 0.007);
    
}

@media only screen and (max-width: 1300px){
.localWeather{
    font-size: 1.5rem;
    color: rgba(236, 230, 230, 0.548);
    text-shadow:3px 3px#064237;
}
.weather-box{
    position: relative;
    top: -10%;
    z-index: 13;
}

.weather-box2{
    position: relative;
    top: -11%;
    right:70%;
    z-index: 13;
    font-size: 0.5rem;
}
.weather-box3{
    position: relative;
    top: -29%;
    left:70%;
    z-index: 13;
    font-size: 0.5rem;
}
}
@media only screen and (max-width: 1024px){
#openweathermap-widget-1{
position: relative;
margin-top:13%;
z-index:-3;
display: block;
align-items: center;
/* margin-left: -1%; */
width: 12%;
}
.localWeather{
    font-size: 1.5rem;
    color: rgba(236, 230, 230, 0.548);
    text-shadow:3px 3px#064237;
}
.weather-box{
    position: relative;
    top: -2%;
    z-index: 13;
}

.weather-box2{
    position: relative;
    top: -3%;
    right:70%;
    z-index: 13;
    font-size: 0.6rem;
}
.weather-box3{
    position: relative;
    top: -13%;
    left:70%;
    z-index: 13;
    font-size: 0.6rem;
}
}

@media only screen and (max-width: 800px){

#openweathermap-widget-1{
position: relative;
margin-top:13%;
z-index:-3;
display: block;
margin-left: -0.2%;
width: 12%;
}
.localWeather{
    font-size: 1.3rem;
    color: rgba(236, 230, 230, 0.548);
    text-shadow:2px 2px#064237;
}
.weather-box{
    position: relative;
    top: -2%;
    z-index: 3;
}

.weather-box2{
    position: relative;
    top: -180px;
    margin-left:120px;
    z-index: 13;
    }
.weather-box3{
    position: relative;
    top: -330px;
    margin-right:130px;
    z-index: 13;
  }
  #NYsymbol, #SHsymbol{width:20%;}
.cityWeather{
    font-size: 0.6rem;
}
}
@media only screen and (max-width: 600px){

#openweathermap-widget-1{
position: relative;
margin-top:13%;
z-index:-13;
display: block;
margin-left: -27%;
width: 2%;
}
.weather-box{
    position: relative;
    top: -10%;
    z-index: -13;
    font-size: 0.6rem;
}
.weather-box2{
    position: relative;
    top: -18%;    
    margin-left:290px;
    z-index: 13;  
    font-size: 0.6rem; 
}
.weather-box3{
    position: relative;
    top: -35%;    
    margin-right:450px;
    z-index: 13;
    font-size: 0.6rem;
}
    #NYsymbol{width:60%;}
 #SHsymbol{width:130%;
          }
}