#location{
    position: relative;
    left: -35%;
    top:5%;
    color:aqua;
    /* text-align:left;  */
}

.localWeather{
    font-size: 2rem;
    font-weight: 600;
    color: rgba(236, 230, 230, 0.801);
    text-shadow:3px 3px#044d3f;
}
.cityWeather{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(236, 230, 230, 0.801);
    text-shadow:2px 2px#044d3f;
}

.weather-box{
    position: relative;
    top: -5%;
    z-index: 13;
}
.weather-box2{
    position: relative;
    top: -11%;
    right:90%;
    z-index: 13;
    font-size: 0.5rem;
}
.weather-box3{
    position: relative;
    top: -22%;
    left:90%;
    z-index: 13;
    font-size: 0.5rem;
}
#NYsymbol{
    position: relative;
    left:-5%;
    top: 20px;
}
#SHsymbol{
    position: relative;
    left:-5%;
    top: 22px;
}
#openweathermap-widget-1{
position: relative;
margin-top:13%;
z-index:3;
display: block;
margin-left: auto;
margin-right: auto;
width: 34%;
}

#weatherIcon{
    padding:-10%;
    margin: 0%;
    background-color: rgba(245, 245, 245, 0.007);
    
}

@media only screen and (max-width: 1300px){
.localWeather{
    font-size: 1.5rem;
    color: rgba(236, 230, 230, 0.548);
    text-shadow:3px 3px#064237;
}
.weather-box{
    position: relative;
    top: -10%;
    z-index: 13;
}
}
@media only screen and (max-width: 600px){

#openweathermap-widget-1{
position: relative;
margin-top:13%;
z-index:3;
display: block;
margin-left: -27%;
width: 12%;
}
}