#location{
    position: relative;
    left: -35%;
    top:5%;
    color:aqua;
    /* text-align:left;  */
}

.localWeather{
    font-size: 2.3rem;
    color: rgba(236, 230, 230, 0.144);
    text-shadow:3px 3px#206a5d;
}

.weather-box{
    position: relative;
    top: 19%;
    z-index: 13;
}

#weatherIcon{
    padding:-10%;
    margin: 0%;
    background-color: rgba(245, 245, 245, 0.055);
    
}

@media only screen and (max-width: 1300px){
.localWeather{
    font-size: 1.5rem;
    color: rgba(236, 230, 230, 0.144);
    text-shadow:3px 3px#206a5d;
}
.weather-box{
    position: relative;
    top: -10%;
    z-index: 13;
}

}