body {

text-align: center;

color: #fff;

margin: 0 ;
font-family:"Mrs Saint Delafield" "Italianno" "Parisienne" sans-serif serif;
}

h2 {
display: block;
padding-top: 0;
padding-bottom: 30px;
border-top: none;
color: rgba(255,255,255,0.6);
font-family: Parisienne;
font-size: 1.5em;
font-style: italic;
}

#slideshow img {
display: block;
margin: 0 auto 0;
padding: 4% 3% 2%;
width:83%;

}
.wrapperA {
  margin-top:3%;
  background: #bae8e8 url(bg2.gif) 0 0 repeat-y;}

.wrapper1, .wrapper2{
border:3px groove #B0C4DE;
background: #706c61;
text-align: center;
line-height:68px;
width: 80%;
margin: 50px auto 80px auto;
padding:25px; }

<!--Maybe consider it later! #coverpic{
          width:700px; height:300px;  rgba(180,180,180,0.4);
              filter:opacity(50%);  filter: blur(3px); }-->

#buttonA:hover,  #buttonA:focus{color:whitesmoke;
  background-color: aquamarine;}
#buttonA:active {
 color: red;
 }

#buttonB:hover,  #buttonB:focus{color:whitesmoke;
background-color: rgb(211, 195, 48);}

#buttonB:active {
color: rgb(9, 255, 0);
  }

#buttonC:hover,  #buttonC:focus{color:whitesmoke;
background-color: rgb(64, 48, 211);}
#buttonC:active {
   color: purple;
  text-decoration: none;   }

#buttonD:hover,  #buttonD:focus{color:whitesmoke;
background-color: rgb(224, 48, 195);}
#buttonD:active {
   color: black;
  text-decoration: none;   }


#buttonF:hover,  #buttonF:focus {color:whitesmoke;
background-color: rgb(48, 211, 89);}
#buttonF:active {
   color: rgb(4, 107, 155);
  text-decoration: none;   }

.btn .btn-outline-light{

text-decoration: none; }
a{color:#feffde;
text-shadow: 2px 2px #206a5d;  }
.p3{
  font-size: 1.3em;
  font-family: Mrs Saint Delafield}

  .p4{
    font-size: 1.3em;
    font-family: Mrs Saint Delafield}

h3{font-size:0.7em;
font-family: Mrs+Saint+Delafield}

h4{font-size:0.6em;
font-family: Parisienne}

@media only screen and (min-width: 768px)
header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading {
    padding: 200px 0;
}
