body {
font: 30px/25px georgia, serif;
text-align: center;
line-height:108px;
color: #fff;
background: #748A9B url(bg2.gif) 0 0 repeat-y;
margin: 0 ;
padding-top:60px;
font-family:"Mrs Saint Delafield" "Italianno" "Parisienne" sans-serif serif;

}
h1 {line-height: 1.3;
font-size: 2.8em}
h2 {
display: block;
padding-top: 0;
padding-bottom: 30px;
border-top: none;
color: rgba(255,255,255,0.6);
font-family: Parisienne;
font-size: 1.8em;
font-style: italic;

}

#slideshow img {
display: block;
margin-left: auto;
margin-right: auto;
width:35%;

}

.wrapper1, .wrapper2{
border:3px groove #B0C4DE;
background: #849AA9;
text-align: center;
line-height:68px;
width: 80%;
margin: 80px auto 80px auto;
padding:26px; }

<!--Maybe consider it later! #coverpic{
          width:700px; height:300px;  rgba(180,180,180,0.4);
              filter:opacity(50%);  filter: blur(3px); }-->

#buttonA:hover,  #buttonA:focus{color:whitesmoke;
  background-color: aquamarine;}
#buttonA:active {
 color: red;
   text-decoration: none;   }

#buttonB:hover,  #buttonB:focus{color:whitesmoke;
background-color: rgb(211, 195, 48);}

#buttonB:active {
color: rgb(9, 255, 0);
text-decoration: none;   }

#buttonC:hover,  #buttonC:focus {color:whitesmoke;
background-color: rgb(64, 48, 211);}
#buttonC:active {
   color: purple;
  text-decoration: none;   }

#buttonD:hover,  #buttonD:focus{color:whitesmoke;
background-color: rgb(224, 48, 195);}
#buttonD:active {
   color: black;
  text-decoration: none;   }


#buttonF:hover,  #buttonF:focus {color:whitesmoke;
background-color: rgb(48, 211, 89);}
#buttonF:active {
   color: rgb(4, 107, 155);
  text-decoration: none;   }

#buttonA{
             text-decoration:none;
             }

#buttonB{border:6px groove rgb(213,213,213);
               color:#696969;
             background-color:#A9A9A9;
             text-decoration:none;
            }

#buttonC{border:6px groove rgb(213,213,213);
              color:#696969;
             background-color:#A9A9A9;
             text-decoration:none;
             }
#buttonD{border:6px groove rgb(213,213,213);
             color:#696969;
             background-color:#A9A9A9;
             text-decoration:none;
             }
#buttonE{border:6px groove rgb(213,213,213);
           color:#696969;
           background-color:#A9A9A9;
           text-decoration:none;
           }
#buttonF{border:6px groove rgb(213,213,213);
           color:#696969;
           background-color:#A9A9A9;
           text-decoration:none;
           }
.p3{
  font-size: 1.3em;
  font-family: Mrs Saint Delafield}

  .p4{
    font-size: 1.3em;
    font-family: Mrs Saint Delafield}

h3{font-size:0.7em;
font-family: Mrs+Saint+Delafield}

h4{font-size:0.6em;
font-family: Parisienne}
